/*  cor do texto do corpo da página */
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: aquamarine;
}

/* \tamanho e cor da fonte do cabeçalho da página */
h1 {
  font-size: 36px;
  color: rgb(0, 0, 0); /* vermelho */
}

/* a cor de fundo do botão */
button {
  background-color: #008CBA; /* azul */
  color: #FFF; /* branco */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* entrada de texto */
input[type="text"] {
  background-color: #FFF;
  border: 2px solid #AAA;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}

/* área de seleção */
select {
  background-color: #FFF;
  border: 2px solid #AAA;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}
